<div class="header">
  <div class="header-left">
    <%= link_to root_path do %>
      <p>うじゅガチャ</p>
    <% end %>
  </div>
  <div class="header-right">
    <%= link_to "ガチャを作る", new_lottery_path %>
    <%= link_to "リスナーを登録する", listeners_path %>
  </div>
</div>
