<div class="header">
  <div class="header-left header-items">
    <%= link_to root_path do %>
      <p><span class="header-item">うじゅガチャ</span></p>
    <% end %>
  </div>
  <div class="header-right header-items">
    <%= link_to "ガチャを作る", new_lottery_path, class: "header-item" %>
    <%= link_to "リスナーを登録する", listeners_path, class: "header-item" %>
  </div>
</div>
